.MuiButton-outlinedPrimary {
  border: none !important
}

.MuiSlider-root:nth-child(1) .MuiSlider-thumb {
  background: url("./Group 7.svg") no-repeat;
  height: 40px !important;
  top: 7px;
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}


.MuiSlider-root:nth-child(1) {
  color: black !important;
  height: 10px !important;
}

.MuiSlider-root:nth-child(1) .MuiSlider-mark {
  height: 10px !important;
  background-color: rgb(131, 127, 127);
}

.MuiSlider-root:nth-child(1) .MuiSlider-rail {
  height: 10px !important;
  background-color: rgb(199, 198, 198);
}

.MuiSlider-root:nth-child(1) .MuiSlider-markActive {
  height: 10px !important;
  background-color: rgb(131, 127, 127);
}

.MuiSlider-root:nth-child(1) .MuiSlider-track {
  height: 10px !important;
  background-color: transparent;
}

.MuiSlider-root:nth-child(2) .MuiSlider-thumb {
  background: url("./Group 7.svg") no-repeat;
  height: 40px !important;
  
  padding: 0;
  margin-bottom: -20px !important;
  transform: rotate(-90deg);
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.MuiSlider-root:nth-child(2) {
  color: black !important;
  width: 10px !important;
}

.MuiSlider-root:nth-child(2) .MuiSlider-mark {
  width: 10px !important;
  background-color: rgb(131, 127, 127);
}

.MuiSlider-root:nth-child(2) .MuiSlider-rail {
  width: 10px !important;
  background-color: rgb(199, 198, 198);
}

.MuiSlider-root:nth-child(2) .MuiSlider-markActive {
  width: 10px !important;
  background-color: rgb(131, 127, 127);
}

.MuiSlider-root:nth-child(2) .MuiSlider-track {
  width: 10px !important;
  background-color: transparent;
}
.MuiSlider-root:nth-child(2)

.MuiSlider-thumb:nth-child(2) .MuiSlider-thumbColorPrimary .PrivateValueLabel-thumb-1 {
  left: 80%
}